@import "../../../../assets/styles/variables";

.panel {
  .header {
    height: 50px;
    border-radius: 10px 10px 0 0;
    background: @grey;
    padding: 0 20px;
    color: @dark-grey;
    line-height: 50px;
  }

  .body {
    min-height: 50px;
    border: 1px solid @grey;
    padding: 10px;
  }
}