@import '../../../../../assets/styles/variables';

.input-select {
  font-size: 1.2rem;

  .Dropdown-control {
    .border-radius(0);
    padding-top: 4px;
    &:hover { box-shadow: none; }
  }

  .Dropdown-menu {
    max-width: 200px;

    .Dropdown-option {
      text-align: left;
    }
  }

  &.default {
    .Dropdown-placeholder { color: @vinous; }
    .Dropdown-menu {
      .Dropdown-option { color: @vinous; }
      .Dropdown-option:hover { background: @vinous; color: @light-grey; }
    }
  }

  &.primary {
    .Dropdown-placeholder { color: @dark-blue; }
    .Dropdown-menu {
      .Dropdown-option { color: @dark-blue; }
      .Dropdown-option:hover { background: @dark-blue; color: @light-grey; }
    }
  }

  .Dropdown-control {
    text-align: left;
    padding-left: 5px;
  }
}