@import "../../../../../assets/styles/variables";

.add-waypoints-block {
  h3 { margin-top: 40px; }

  .waypoint {
    .remove-btn svg {
      height: 40px;
      fill: @vinous;
      .transition(fill 1s);
      cursor: pointer;

      &:hover {
        fill: @dark-blue;
      }
    }
  }
}