@import "../../../../assets/styles/variables";

.popup {
  width: 380px;
  min-height: 130px;
  position: fixed;
  background-color: @light-grey;
  z-index: 1010;
  top: 100px;
  left: 50%;
  .transform(translateX(-50%));
  padding: 10px;
  box-shadow: 0 0 10px 3px @light-grey;

  .header {
    font-size: 1.5rem;
    font-family: sans-serif;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: @screen-min) {
  .popup {
    .transform(none);
    left: 0;
  }
}