@import '../../../../../../assets/styles/variables';

.user-profile-menu {
  width: 250px;
  height: 50px;
  position: relative;
  .vertical-centered();
  float: right;
  color: @vinous;

  .dropdown__trigger {
    height: 40px;
    display: block;
    float: right;
    padding: 5px;
    .transition(outline 0.5s);
    outline: 1px solid @light-grey;

    &:hover {
      outline: 1px solid @vinous;
    }

    > span {
      vertical-align: top;
      position: relative;
      top: 10px;
      padding: 0 10px 0 5px;
    }

    .user-avatar-wrapper {
      display: inline-block;
      background: @white;
      width: 40px;
      text-align: center;
      .border-radius(50%);
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }

  .dropdown__content {
    height: 0;
    width: 100%;

    ul {
      margin: 0;
      position: relative;
      top: 55px;

      li {
        a {

        }
      }
    }
  }
}