@import "../../../../../assets/styles/variables";

.auth-popup {
  .social-webs {
    height: 60px;
    text-align: center;
    padding-bottom: 20px;

    svg {
      cursor: pointer;
      padding: 0 5px;

      circle { fill: @grey; .transition(fill 0.5s); }
    }

    .facebook {
      g:hover {
        circle { fill: #3B5998; }
      }
    }

    .google {
      g:hover {
        circle { fill: #DC4E41; }
      }
    }

    .vk {
      g:hover {
        circle { fill: #4D76A1; }
      }
    }
  }
}

.no-account-block {
  text-align: center;
}