@import '../../../../../assets/styles/variables';

.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;

  &.shows {
    visibility: visible;
    opacity: 0.8;
  }

  .transition(all 0.2s);
}