@import 'variables';

.primary-btn() {
  border: 1px solid @light-grey;
  color: @dark-blue;

  &:hover {
    background: @dark-blue;
    color: @light-grey;
  }
}

.primary-inverse-btn() {
  border: 1px solid @dark-blue;
  background: @dark-blue;
  color: @light-grey;

  &:hover {
    color: @dark-blue;
    background: @light-grey;
  }
}

.default-btn() {
  border: 1px solid @vinous;
  color: @vinous;

  &:hover {
    background: @vinous;
    color: @light-grey;
  }
}

.default-inverse-btn() {
  border: 1px solid @vinous;
  background: @vinous;
  color: @light-grey;

  &:hover {
    background: @light-grey;
    color: @vinous;
  }
}