@import "variables";

.dropdown {
  .dropdown__content {
    ul {
      background: @light-grey;
      border: 1px solid @grey;

      li {
        height: 45px;
        font-size: 1.2rem;

        a, span.text-link {
          height: 35px;
          padding: 5px 0 5px 10px;
          display: block;
          position: relative;
          .vertical-centered();

          &:hover {
            background: @vinous;
            color: @light-grey;
          }
        }
      }
    }
  }
}