@import "variables";

.input-component {
  margin-bottom: 15px;

  &.default {
    color: @vinous;

    .input {
      outline-color: @vinous;
    }
  }

  &.primary {
    color: @dark-blue;

    .input {
      outline-color: @dark-blue;
    }
  }

  &.required {
    label {
      &:after {
        content: '*';
        color: @red;
      }
    }
  }

  label, .input {
    font-size: 1.2rem;
  }

  .input {
    color: inherit;
    height: 40px;
    padding-left: 5px;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: inherit;
    }

    &:-moz-placeholder {
      color: inherit;
    }

    :-ms-input-placeholder {
      color: inherit;
    }
  }
}
