@import "variables";
@import "fonts";
@import "accordion";
@import "animation";
@import "buttons";
@import "dropdown-menu";
@import "inputs";

html, body {
  margin: 0;
  font-family: 'Main', sans-serif;
  font-size: 16px;
  min-width: 400px;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
}

p {
  padding: 8px 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

span.text-link {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

input, button {
  font-family: 'Main', sans-serif;
}

// remove arrow icons for input[type=number]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.text-btn {
  color: @vinous;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

/* for svg (svg-inline-react component)*/
i > svg {
  height: 100%;
}

.page-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid @grey;
}

.page-wrapper {
  margin-top: 100px;
}

.btn {
  font-size: 1rem;
  padding: 8px 16px;
  outline: 0;
  background: @light-grey;
  text-align: center;
  cursor: pointer;
  .transition(background 0.5s);

  &.primary {
    .primary-btn();
  }

  &.primary-inverse {
    .primary-inverse-btn();
  }

  &.default {
    .default-btn();
  }

  &.default-inverse {
    .default-inverse-btn();
  }
}

#content-wrapper {
  margin-top: 71px;
}

.veil {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  .transition(opacity 0.2s);

  &.ng-hide {
    opacity: 0;
  }

  &.ng-enter {
    opacity: 0;
  }
}

.btn-group {
  button {
    margin-left: 3px;
  }

  &.right {
    text-align: right;
  }
}