@vinous: #9b1c51;
@red: #f4293c;
@white: #FFF;
@black: #000;
@light-grey: #F7F6F1;
@grey: #ddd;
@dark-blue: #2b5680;
@dark-grey: #808080;

@screen-min: 400px;
@screen-xs-max: 768px;
@screen-sm-max: 992px;
@screen-md-max: 1200px;
@screen-lg-max: 1600px;

.vertical-centered() {
  top: 50%;
  .transform(translateY(-50%));
}

.horizontal-centered() {
  left: 50%;
  .transform(translateX(-50%));
}

.middle-centered() {
  top: 50%;
  left: 50%;
  .transform(translateX(-50%) translateY(-50%));
}

.border-radius(@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}

.animation-name(@name) {
  -webkit-animation-name: @name;
  -moz-animation-name: @name;
  -o-animation-name: @name;
  animation-name: @name;
}

.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
  -moz-animation-duration: @duration;
  -o-animation-duration: @duration;
  animation-duration: @duration;
}

.animation(@effect, @time) {
  -webkit-animation: @effect, @time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: @effect, @time; /* Firefox < 16 */
  -ms-animation: @effect, @time; /* Internet Explorer */
  -o-animation: @effect, @time; /* Opera < 12.1 */
  animation: @effect, @time;
}

.transition(@value) {
  -webkit-transition: @value;
  -moz-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

.box-sizing(@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  box-sizing: @value;
}
