@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/buttons";

.sidebar-menu {
  .transition(all 0.8s);
  z-index: 1010;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: @dark-blue;
  overflow-x: hidden;
  padding-top: 70px;

  &.open-state {
    left: 0;
  }

  li {
    color: @light-grey;
    font-size: 1.2rem;

    a {
      padding: 8px 8px 8px 32px;
      width: 100%;
      display: block;
      .active-item();

      &.active {
        .active-item();
        &::before {
          width: 6px;
        }
      }

      &:hover {
        &::before {
          width: 6px;
        }
      }

      &::after {
        content: '';
        height: 24px;
        width: 24px;
        background: url('../../../../../assets/img/ic_keyboard_arrow_right_white_24px.svg');
        position: absolute;
        right: 15px;
        font-size: 0.6rem;
      }
    }
  }

  .close-btn {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    background-color: @dark-blue;
    .transition(all 1s);

    &:hover {
      cursor: pointer;
    }
  }

  &:not(.open-state) {
    .close-btn {
      visibility: hidden;
      opacity: 0;
      .transform(rotate(180deg));
    }
  }

  .auth-panel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;

    > .btn {
      .primary-btn();
    }
  }
}

.active-item() {
  &::before {
    content: '';
    height: 43px;
    width: 0px;
    background-color: @light-grey;
    display: block;
    position: absolute;
    left: 0;
    margin-top: -8px;
    .transition(width 0.5s);
  }
}

@media screen and (min-width: @screen-md-max) {
  .sidebar-menu {
    display: none;
  }
}