@import "../../../../../assets/styles/variables";

header {
  background: @light-grey;
  height: 70px;
  position: fixed;
  width: 100%;
  min-width: 400px;
  opacity: 0.95;
  top: 0;
  z-index: 1001;

  .menu-btn {
    width: 70px;
    opacity: 1;
    background: @dark-blue;
    fill: @light-grey;

    &:hover {
      cursor: pointer;
    }
  }

  .header-menu {
    margin-left: 10px;

    .navigation {
      height: 100%;
      line-height: 70px;
      font-size: 0;

      li {
        font-size: 1rem;
        display: inline-block;
        color: @vinous;

        a {
          display: block;
          height: 65px;
          padding: 0 10px;
          border-bottom: 0 solid @vinous;

          &:hover:not(.active) {
            .animation-name(menu-item-hover);
            .animation-duration(0.2s);
            border-bottom: 6px solid @vinous;
          }

          &.active {
            border-bottom: 6px solid @vinous;
          }
        }
      }
    }
  }

  .line {
    background: @white;
    position: absolute;
    height: 6px;
    margin-top: -5px;
    width: 100%;
    z-index: -1;
    box-shadow: 0 4px 2px -2px rgba(76, 70, 71, .3);
  }

  .outer-wrapper {
    position: absolute;
    height: 120px;
    width: 120px;
    background: @white;
    .border-radius(50%);
    margin-top: -3px;
    left: 50%;
    box-shadow: 0 4px 2px -2px rgba(76, 70, 71, .3);
    .transform(translateX(-50%) translateY(-50%));
    cursor: pointer;

    &:hover {
      svg {
        #main { fill: @vinous !important; }
      }
    }

    svg {
      #main {
        .transition(fill 0.5s);
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: @screen-md-max) {
  header {
    .header-menu {
      margin-left: 0;

      .menu-btn { display: block; }
      .navigation { display: none; }
    }
  }
}

@media screen and (min-width: @screen-md-max) {
  .menu-btn { display: none; }

  .header-menu .navigation { display: block; }
}

@keyframes menu-item-hover {
  from { border-bottom: 0 solid @vinous; }
  to { border-bottom: 7px solid @vinous; }
}