@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/buttons";

#menu-auth-panel {
  display: block;
  height: 70px;
  margin-right: 10px;

  .login-btn {
    position: relative;
    left: 100%;
    top: 50%;
    .transform(translateX(-100%) translateY(-50%));

    .default-inverse-btn();
  }
}