@import "../../../../../assets/styles/variables";

#site-title-block {
  position: relative;
  background: url('../../../../../assets/img/site-title-img.jpg') no-repeat;
  background-size: cover;
  height: 470px;
  background-position-y: 100%;
  background-position-x: 50%;

  .find-route-form {
    text-align: center;
    position: relative;
    .vertical-centered();

    .input-component {
      display: inline;

      .input-placeholder {
        margin: 0 10px;

        background: none;
        outline-color: @white;
        border: 1px solid @white;
        color: @white;
      }
    }
  }

  .create-route {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media (max-width: @screen-sm-max) {
  #site-title-block {

    .find-route-form {
      width: 350px;
      .middle-centered();

      .input-component {
        margin: 10px 0;
        display: block;

        .input-placeholder {
          width: 350px;
        }
      }
    }
  }
}
