@import '../../../../../assets/styles/variables';

.input-select,
.input-inline {
  position: relative;
  margin: 0 70px 20px 10px;

  &.default {
    .input-wrapper {
      .input { outline-color: @vinous; }
      .underline { background: @vinous; }
    }
  }

  &.primary {
    .input-wrapper {
      .input { outline-color: @dark-blue; }
      .underline { background: @dark-blue; }
    }
  }

  label {
    position: absolute;
    .vertical-centered();
    left: 0;
    text-align: left;
    font-weight: normal;
    margin-top: 8px;
    padding-left: 5px;
    .transition(0.8s all);
    white-space: nowrap;

    &.shifted {
      left: 100%;
      font-size: 0.6rem;
    }
  }

  .input-wrapper {
    position: relative;
    width: 100%;
    .box-sizing(border-box);
    text-align: center;

    .Dropdown-control,
    .input {
      position: relative;
      top: 8px;
      width: 100%;
      background: none;
      border: none;
      .transition(all 0.8s);
      border-bottom: 1px solid @grey;

      &:focus + .underline {
        width: 100%;
      }
    }

    .underline {
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 0;
      bottom: -7px;
      .horizontal-centered();
      .transition(all 0.5s);
    }
  }

  .error {
    position: absolute;
    top: 50px;
    height: 13px;
    padding-left: 5px;
    font-size: 0.6rem;
    color: @red;
    text-align: left;
  }
}
